*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 32, 32);
    min-height: 100vh;
}

.contenedor .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e399b2;
}

button {
    background-color: #ffffffab;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

.contenedor #btn-tarea {
    margin-bottom: 20px;
}

#btn-editar, 
#btn-eliminar {
    margin-left: 20px;
}

.contenedor .formulario {
    display: none;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdcae1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #84425b;
}

.contenedor .formulario .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.contenedor .formulario .btn {
    row-gap: 5px;
}

.contenedor .ficha {
    border: 1px solid transparent;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.tarea-carta {
    background-color: #f6b5cb;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.tarea-carta .titulo {
    margin-top: 0;
}

.botones-tarea {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
